body {
    background-color: rgb(16, 220, 247);
}

nav {
    background-color: #EDAA21;
}
h2 a {
    color: rgba(1, 1, 12, 0.7);
}
img {
    max-width: 95%;
}

p {
    color: #000240;
}

nav ul li a{
    color: rgb(0, 119, 230);
}