body {
    background-color: rgb(16, 220, 247);
    /* background-image: url(../images/climbing-clouds.jpg);
    background-size : 100%;
    background-repeat: no-repeat; */
}

.columns {
    flex-wrap: wrap
}

nav {
    background-color: #EDAA21;
}

header h1 {
    margin-top: -280px;
    margin-bottom: 205px;
    color: darkorange;
}

h2 a {
    size: 5rem;
    color: rgba(1, 1, 8, 0.7);
}

img {
    max-width: 100%;
}

p {
    color: #000240;
}

nav ul li a {
    color: rgb(0, 119, 230);
    margin-top: 2rem;
    font-size: 2rem;
}