<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
            Climbing Shoes
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block header %}{% endblock header %}
</head>
<body>
    <header>
    <div class="header-image">
        <img src="{% static 'images/climbing-clouds.jpg' %}">
    </div>
        <h1>Climbing Shoes</h1>
        <nav>
            <ul class="menu menu-hover-lines">
                <li class=""><a href="{% url 'home' %}">Home</a></li>
                <li class=""><a href="{% url 'about' %}">About</a></li>
                <li class=""><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'browse' %}">Browse articles</a></li>
                {% if user.is_authenticated %}
                    <li class=""><a href="{% url 'auth_logout' %}">Logout<a/></li>
                {% else %}
                    <li class=""><a href="{% url 'auth_login' %}">Login<a/></li>
                    <li class=""><a href="{% url 'registration_register' %}">Register<a/></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %} {% endblock content %}
    {% block footer %} {% endblock footer %}
<script src="{% static 'js/vendor/jquery.js' %}"></script>
<script src="{% static 'js/vendor/foundation.min.js' %}"></script>
</body>
</html>