{% extends 'base.html' %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block content %}
    <div class="grid-x grid-padding-x">
        {% for climbingshoe in climbingshoes %}
            <div class="cell medium-6 large-4">
                <h2><a href="{% url 'climbingshoe_detail' slug=climbingshoe.slug %}">
                {{ climbingshoe.name }}</a></h2>
                <p>{{ climbingshoe.description }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}